@font-face {
  font-family: "Nunito Sans 10pt";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Sans 10pt"), url("../fonts/NunitoSans_10pt-Regular.woff2") format(woff2),
    url("../fonts/NunitoSans_10pt-Regular.woff") format(woff);
}

@font-face {
  font-family: "Nunito Sans 10pt";
  font-style: italic;
  font-weight: 400;
  src: local("Nunito Sans 10pt"), url("../fonts/NunitoSans_10pt-Italic.woff2") format(woff2),
    url("../fonts/NunitoSans_10pt-Italic.woff") format(woff);
}

@font-face {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  src: local("Yeseva One"), url(../fonts/YesevaOne-Regular.woff2) format(woff2),
    url(../YesevaOne-Regular.woff) format(woff);
}

body {
  font-family: "Nunito Sans 10pt", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #fff;
}

.header__text-tel-number {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
}

.hero__title {
  font-family: "Yeseva One", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 133%;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: #fff;
}

.hero__description {
  font-size: 22px;
  line-height: 164%;
  letter-spacing: 0;
}
.header__nav-btn,
.hero__btn-calc,
.hero__btn-submit {
  font-style: italic;
}
.projects__city-link,
.projects__title,
.projects__description-item-title,
.media-block__title,
.repairs__title,
.repairs__type-title,
.repairs__price,
.repairs__circle-number,
.styles__title {
  font-family: "Yeseva One", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: #e3b873;
}
.projects__city-link {
  font-size: 14px;
  line-height: 139%;
  color: rgba(255, 255, 255, 0.3);
  transition: color 0.2s ease, background-color 0.2s ease;
}
.link:focus {
  text-decoration: underline;
  text-underline-offset: 7px;
  color: #e3b873;
}
.link:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
  color: #e3b873;
}
.projects__title {
  font-size: 27px;
  line-height: 139%;
}
.projects__description-item-title {
  font-size: 18px;
  line-height: 139%;
}
.projects__subtitle {
  font-size: 14px;
  line-height: 191%;
}
.projects__description-item-subtitle {
  font-size: 13px;
  line-height: 164%;
}
.media-block__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 138.8%;
  text-align: center;
}
.media-block__subtitle {
  font-size: 18px;
  line-height: 205%;
  color: #363636;
  text-align: center;
}
.media-block__text-form-label {
  font-size: 13px;
  line-height: 164%;
  color: rgba(54, 54, 54, 0.5);
}
.media-block__input-form-item::placeholder {
  font-size: 14px;
  line-height: 164%;
  color: #363636;
  opacity: 0.8;
}
.media-block__input-form-item:focus {
  color: #363636;
  border-color: #bdbdbd;
  outline: 0;
  border-bottom: 1px solid rgba(54, 54, 54);
}
.text-agreement {
  font-size: 14px;
  line-height: 164%;
  color: #181818;
}
.repairs__title {
  font-size: 20px;
  line-height: 139%;
  text-align: center;
  color: #181818;
}
.repairs__desc-list {
  color: #181818;
}
.repairs__type-title {
  font-size: 18px;
  line-height: 139%;
  color: #363636;
  text-transform: none;
}
.repairs__desc-list {
  font-size: 13px;
  line-height: 205%;
  color: #959595;
}
.repairs__price {
  font-size: 18px;
  line-height: 139%;
  color: #fff;
}
.repairs__circle-number {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
}
.repairs__advantage-subtitle {
  font-size: 14px;
  color: #363636;
}
.repairs__request-form-title {
  font-size: 18px;
  line-height: 23.5px;
  text-align: center;
}
.repairs__input-form-item {
  font-size: 14px;
  line-height: 23px;
  color: #ffffff;
}
.repairs__text-form-label {
  font-size: 13px;
  line-height: 163%;
  color: rgba(255, 255, 255, 0.5);
}
.repairs__input-form-item::placeholder {
  font-size: 14px;
  line-height: 164%;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.repairs__input-form-item:focus {
  color: #fff;
  border-color: rgb(189, 189, 189);
  outline: 0;
  border-bottom: 1px solid rgb(189, 189, 189);
}
.repairs__text-agreement {
  color: #fff;
}
.repairs__sale-description {
  font-size: 18px;
  line-height: 143%;
  color: #e3b873;
}
.styles__title {
  font-size: 27px;
  line-height: 33px;
}
.style__style-element {
  font-size: 20px;
  line-height: 26px;
}
