* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

/*Header*/

.header {
  background-color: #000;
}
.header__container {
  max-width: 1256px;
  height: 83px;
  margin: 0 auto;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__navigation-list {
  display: flex;
  padding: 0 40px;
  gap: 47px;
}
.header__navigation-item a {
  color: #fff;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.header__navigation-item a:hover {
  color: #e3b873;
}
.header__text-logo,
.header__text-tel-number {
  color: #e3b873;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.header__text-tel-number:hover {
  color: hsla(37, 67%, 67%, 0.8);
}
.button {
  border-radius: 2px;
  box-shadow: 0 5px 15px 0 rgba(227, 184, 115, 0.2);
  background-color: #e3b873;
  transition: color 0.2s ease, background-color 0.2s ease;
  border: 0;
}
.button:hover {
  background-color: hsla(37, 67%, 67%, 0.8);
  color: hsla(0, 0%, 100%, 0.8);
}
.header__nav-btn {
  width: 161px;
  height: 37px;
}

/*Main screen*/

.hero {
  position: relative;
  height: 707px;
  padding-top: 194px;
  background: url(../images/png/hero__img.png);
  background-size: cover;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.hero__info-block-position,
.projects__slider-container,
.media-block__container {
  position: relative;
  max-width: 1171px;
  margin: 0 auto;
}
.hero__info-block-flex {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero__title span {
  color: #e3b873;
}
.hero__description {
  max-width: 510px;
}
.hero__btn-container {
  display: flex;
  gap: 20px;
}
.hero__btn-calc,
.hero__btn-submit {
  width: 207px;
  height: 51px;
}
.hero__btn-submit {
  background: none;
  border: 1px solid #fff;
}
.hero__btn-submit:hover {
  background-color: rgba(99, 99, 99, 0.8);
  color: rgba(226, 226, 226, 0.8);
  border: 1px solid rgba(226, 226, 226, 0.8);
}

/*Section Completed projects*/
.projects {
  background: #000;
}
.projects__slider-container {
  padding-top: 107px;
  padding-bottom: 411.7px;
}
.projects__city-nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 60.5px;
}
.projects__presentation-container {
  padding-top: 45.4px;
  display: flex;
  justify-content: space-between;
}

.projects__img-block {
  width: 679px;
  background: url(../images/png/projects__img.png);
}
.projects__info-block {
  display: flex;
  flex-direction: column;
}
.projects__subtitle {
  padding: 34px 0 42px;
}
.projects__description {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  row-gap: 34px;
  padding-bottom: 62.6px;
}
.projects__arrows {
  display: flex;
  gap: 29.5px;
  align-items: center;
  cursor: pointer;
}
.projects__dots {
  display: flex;
  gap: 17.5px;
  cursor: pointer;
}

/*Section Media-block*/
.media-block__container {
  background: none;
  margin-top: -321.7px;
  padding-bottom: 145px;
}
.media-block__title {
  margin-bottom: 13px;
}
.element-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}
.element-line {
  border-radius: 30px;
  height: 1px;
  width: 32px;
  background-color: #e3b873;
}
.media-block__videoplayer-container {
  background: url(../images/png/media-block__img.png);
  width: 817px;
  height: 434px;
  position: relative;
  margin: 31px auto 0;
}
.media-block__videoplayer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.media-block__player-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.media-block__player-btn {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background: #e3b873;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 30px 0 rgba(227, 184, 115, 0.2);
}
.media-block__underline {
  width: 55px;
  border: none;
  border-radius: 30px;
  height: 1px;
  margin: 62.5px auto 34.5px;
  background-color: #e3b873;
}
.media-block__subscribe {
  margin-top: 91.5px;
}
.media-block__subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.media-block__subscribe-container {
  display: flex;
  gap: 49px;
  margin-bottom: 33px;
}
.media-block__input-forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.media-block__input-form-container {
  display: flex;
  gap: 58px;
}
.input-form-item {
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
  outline: none;
  padding-bottom: 4px;
}
.media-block__subs-btn {
  font-style: normal;
  width: 200px;
  height: 51px;
}
.media-block__checkbox-container {
  display: flex;
  align-items: center;
  gap: 9px;
}
.media-block__checkbox,
.repairs__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.checkbox + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #e3b873;
  border-radius: 1px;
  margin-right: 9px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.checkbox:checked + label::before {
  border-color: #e3b873;
  background-color: #e3b873;
  background-image: url(../images/svg/media-block__check.svg);
}

/*Section Repairs*/
.repairs__main {
  min-width: 1236px;
}
.repairs__container {
  max-width: 1171px;
  margin: 0 auto 130px;
}
.repairs__types {
  display: flex;
  justify-content: space-between;
  margin-top: 31px;
}
.repairs__type {
  width: 392px;
  display: flex;
  flex-direction: column;
  padding-bottom: 124px;
}
.repairs__type-description-container {
  background: #fff;
  width: 330px;
  height: 286px;
  margin: -127px auto 0;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.repairs__type-description {
  padding-top: 25px;
  padding-left: 34px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 15px;
}
.repairs__title {
  margin-bottom: 13px;
}
.repairs__desc-list li {
  position: relative;
  padding-left: 10px;
}
.repairs__desc-list li::before {
  content: "";
  display: block;
  position: absolute;
  background-color: #959595;
  border-radius: 50%;
  height: 5px;
  left: 0;
  top: 11px;
  width: 5px;
}
.repairs__price {
  background: #e3b873;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  width: 228px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.repairs__feedback {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
.repairs__advantages {
  background: url(../images/png/repairs__advantages-background.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 102px;
  width: 50%;
  height: 540px;
  padding-left: 210px;
}
.repairs__advantage-item {
  display: flex;
  align-items: center;
}
.repairs__circle-number {
  background: #e3b873;
  border: 8px solid #ffffff;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}
.repairs__request-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 39px;
}
.repairs__request-form {
  width: 506px;
  height: 509px;
  display: flex;
  flex-direction: column;
  gap: 39px;
  background: #131313;
  padding-top: 28px;
}
.repairs__input-forms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;
}
.repairs__text-form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.repairs__text-forms {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.repairs__text-form-item {
  width: 408px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.repairs__input-form-item {
  width: 100%;
  background-color: #131313;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.repairs__calc-btn {
  width: 213px;
  height: 51px;
  align-self: flex-end;
  margin-top: 15px;
}
.repairs__sale {
  display: flex;
  align-items: center;
}
.repairs__pig-element {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: #e3b873;
  box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
.repairs__sale-description {
  width: 344px;
}
/*Section Styles*/
.styles {
  padding-top: 112.5px;
  padding-bottom: 45px;
  margin-bottom: 69px;
}
.styles__container {
  position: relative;
  height: 864px;
  background: url(../images/png/styles__background-img.png);
  background-size: cover;
}
.styles__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.styles__list-style {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.styles__gallery {
  position: relative;
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.styles__img-container {
  display: flex;
}
.styles__list-style-container {
  margin-top: 138px;
  display: flex;
  flex-direction: column;
  gap: 47px;
}
.styles__img-container {
  display: flex;
  gap: 43.2px;
}
.styles__img-column1 {
  width: 353px;
  margin-top: -40.5px;
  display: flex;
  flex-direction: column;
  gap: 39.5px;
}
.styles__img-column2 {
  width: 353px;
  margin-top: -112.5px;
  display: flex;
  flex-direction: column;
  gap: 39.5px;
}
