* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrap {
  max-width: 600px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 30px 0;
  min-height: 30px;
}

.input {
  min-height: 25px;
  width: 120px;
  border: 1px solid #002868;
  border-radius: 4px;
  font-size: 14px;
  padding-left: 5px;
}

.send-btn {
  min-height: 25px;
  width: 50px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: white;
  background: #315efb;
  transition: 0.3s;
}

.send-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 2px 8px 2px rgba(141, 150, 178, 0.3);
}

.result {
  min-height: 30px;
}

.error {
  color: red;
  font-family: monospace, sans-serif;
  font-size: 14px;
}
