* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
/*Section Completed projects*/
.projects__slider-container{
    position: relative;
    max-width: 1171px;
    margin: 0 auto;
}
.projects {
    background: #000;
}
.projects__slider-container {
    padding-top: 107px;
    padding-bottom: 411.7px;
}
.projects__city-nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 60.5px;
}
.projects__presentation-container {
    padding-top: 45.4px;
    display: flex;
    justify-content: space-between;
}

.projects__img-block {
    position: relative;
    width: 679px;
    height: 482px;
}
.projects__img-block .image {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 800ms ease;
}
.projects__img-block .image.active {
    opacity: 1;
}
.projects__info-block {
    display: flex;
    flex-direction: column;
}
.projects__subtitle {
    padding: 34px 0 42px;
}
.projects__description {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    row-gap: 34px;
    padding-bottom: 62.6px;
}
.projects__arrows {
    display: flex;
    gap: 29.5px;
    align-items: center;

}
.projects__arrows-item{
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s ease;
}
.projects__arrows-item:hover{
    opacity: 0.8;
}
.projects__arrows-item.left {
    left: 0;
}

.projects__arrows-item.right {
    right: 0;
}
.projects__dots {
    display: flex;
    gap: 17.5px;
    cursor: pointer;
    padding-bottom: 3px;
}
.projects__dot-item {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
}
.projects__dot-item.active {
    background: #e3b873;
}
.projects__dot-item:hover{
    background: rgba(255, 255, 255, 0.6);
}